#container {
		margin-top: 25px;
}

#container li {
		display: inline-table;
		list-style-type: none;
}

/* center the background image */
#container li a {
		background-repeat: no-repeat;
		background-position: center center;
		display: block;
		text-decoration: none;
}

/* define the circle and fall under the image */
#container li a span {
		text-align: center;
		display: block;
		position: relative;
		z-index: -2;
		width: 200px;
		height: 200px;
		transition: -webkit-transform .15s cubic-bezier(.11,.65,1,1.69);
}

#container li a:hover span {
		-webkit-transform: scale(1.12);
		z-index: -1;
}

#container .cell-overlay {
		opacity: 0;
		background-color: rgba(0, 0, 0, .65);
		width: 100%;
		height: 100%;
}

#container a:hover .cell-overlay {
		transition: opacity 0.2s ease-in-out;
		opacity: 1;
}

#container p.title {
		text-decoration: none;
		font-family: 'Helvetica Neue', Helvetica;
		padding-top: 45px;
		color: white;
		font-size: 25px;
}

#container p.body {
		color: white;
		padding-left: 10px;
}



