@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/*General*/

body {
	font-family: "PT Sans", 'Helvetica Neue Light', 'Helvetica';
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
}

h4 {
	color: #642164;
	font-weight: 400;
}

h1.negative {
	display: inline-block;
	text-align: center;
	font-weight: 200;
	background: #642164;
	color: #fff;
	padding: 10px;
	margin-bottom: 15px;
}

a:hover, a {
	color: #641264;
	text-decoration: none;
}

.h-center {
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}

/*
a {
padding: 10px;
-webkit-transition: color .5s ease, background-color .5s;
transition: color .5s ease, background-color .5s;
color: #642164;
}

a:hover {
color: #fff;
text-decoration: none;
background: rgba(100, 33, 100, 1);
}
*/

button {
	display: block;
	padding: 0;
	width: 120px;
	height: 35px;
	border: 2px solid #641264;
	border-radius: 40px;
	background: transparent;
	color: #641264;
	letter-spacing: 1px;
	font-size: 15px;
	-webkit-transition: background-color 0.3s ease-out, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s ease-out, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

button.center {
	margin: 0 auto;
}

button.large {
	width: 215px;
}

button:hover {
	background-color: #641264;
	color: #fff;
}

button:hover a {
	color: #fff;
}

.container.first {
	margin-top: 50px;
}

.container.last {
	padding-bottom: 50px;
}

.shadow {
	box-shadow: 0 2px 2px 0 #555555;
}

.vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.expand-height {
	position: relative;
	height: 100%;
}

/*Navbar*/

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

ul.dropdown-menu {
	font-size: 17px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #641264;
}

.navbar-brand img {
	height: 50px;
}

.navbar {
	margin-bottom: 0px;
}

/*Index*/

.jumbotron {
	padding: 0px;
	margin-bottom: 0px;
	height: 500px;
}

h1.jumbotronTitle {
	font-weight: 200;
	font-size: 80px;
	color: #642164;
}

.jumbotronTitle > span {
	display: inline;
	background: #fff;
	line-height: 1.3em;
	padding: 10px;
}

.jumbotronSubtitle {
	font-size: 20px;
	padding-top: 10px;
	padding-right: 35%;
	color: #fff;
}

.jumbotronIcon {
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 250px;
	border: 5px solid white;
}

.jumbotronImage {
	background-image: url('/images/cloudsbackground.jpg');
	position: relative;
	top: 0px;
	left:0px;
	height: 100%;
}

.featurette h1 {
	color: #642164;
	font-size: 45px;
}

.featurette-divider {
	margin: 80px 0;
}

/*Angular Transition Animations */

#main-window.ng-enter {
	-webkit-animation: fadeIn 0.25s;
	animation: fadeIn 0.25s;
}

#main-window.ng-leave-active {
	-webkit-animation: fadeOut 0.5s;
	animation: fadeOut 0.5s;
}

/*Admin Grid*/

.grid-style {
	border: 1px solid rgb(212,212,212);
	height: 600px;
}


/* Custom Input */

div.input.bottom-border {
	border-bottom: 2px solid #641264;
	margin: 10px;
}

div.input.round-border {
	border: 2px solid #DDD;
	border-radius: 10px;
}

div.input > span {
	display: block;
	color: #777;
	font-family: 'Helvetica Neue', helvetica;
	font-size: 17px;
	font-weight: 200;
	letter-spacing: 1.5px;
	z-index: 1;
}	

div.input > input {
	width: 100%;
	border: none;
	background: transparent;
	font-size: 27px;
	color: #641264;	
	outline: none;
	z-index: 2;
}

.label {
	color: #641264;
}

/* Toasts */
#toast-container.div {
	opacity: 1;
}

.toast-error {
	background: #641264;
}

.oc-table {
	margin: 60px;

}

label {
	color:#641264;
}

.table-heading {
	background: #641264;
	color: #fff;
}

#loading-bar .bar {
	height: 5px;
}

#loading-bar-spinner .spinner-icon {
	width: 44px;
	height: 44px;
	border-radius: 22px;
}

.fullscreen-card-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	background: url(/images/ExpoBackground.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.card {
	position: absolute;
	padding: 50px;
	background: #fff;
	top: 20%;
	left: 20%;
	right: 20%;
	margin: auto auto 7% auto;
}

.fit-image {
	width: 100%;
}

/* Expo Blue */

.expo-button {
	color: #83b3ca;
	border: solid 2px #83b3ca;
}

.expo-button:hover {
	background: #83b3ca;
}

.expo-color {
	color: #83b3ca;
}

h1.negative--expo {
	background: #83b3ca;
}

.media-image--round-portrait {
	border-radius: 500px;
	border: solid 5px #fff;
	overflow: hidden;
	width: 100%;
}

.media-info-bottom {
	width: 100%;
	text-align: center;
}

.media-info-top {
	position: relative;
	height: 250px;
}

.media-info {
	display: inline;
}

.label--expo {
	color: #83b3ca;
	font-size: 15px;
}

/* Expo Images */
.circle-speaker-image {
	border-radius:50%;
	width:200px;
	height:200px;
	border: 2px solid #83b3ca;
}

.circle-speaker-image--mandy {
	background: url('/images/MandyExpo2014.jpg') no-repeat center center;
	background-size: cover;
}

.circle-speaker-image--amy {
	background: url('/images/AmyExpo2014.jpg') no-repeat center center;
	background-size: cover;
}

.circle-speaker-image--seth {
	background: url("/images/ExpoSethReichert.jpg") no-repeat center center;
	background-size: cover;
}

.circle-speaker-image--phil {
	background: url('/images/PhilExpo2014.jpg') no-repeat center center;
	background-size: cover;
}

/* Expo Block */
.schedule-block {
	border-left: 3px solid #83b3ca;
	padding-left: 25px;
	margin-bottom: 50px;
}

.schedule-header {
	color: #83b3ca;
	font-weight: 300;
}

.schedule-block a.accordion-toggle:hover {
	color: #83b3ca;
}

.color-key {
	display: inline-block;
	height: 17px;
	width: 17px;
	border: 2px solid #fff;
	border-radius: 50%;
}

.color-legend {
	display: inline-block;
	position: fixed;
	top: 375px;
	right: 25px;
	padding: 7px 20px;
	width: 200px;
	background: #fff;

	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.59);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.59);
}

.nav--expo {
	position: fixed;
	width: 200px;
	top: 75px;
	right: 25px;
	background: #fff;
	padding: 25px;
	
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.59);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.59);
}

.not-sure-why-they-want-this-here {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}