
@media screen and (min-width: 768px) {






}
@media screen and (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }
  .jumbotronIcon {
    height: 200px;
    width: 200px;
    border-radius: 125px;
    border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
  }
  .jumbotronTitle {
    padding-top: 12px;
    color: white;
    text-shadow: 0px 0px 2px #555;
  }
  .jumbotronSubtitle {
    padding-bottom: 12px;
    color: #DDD;
  }
  .featurette {
    padding: 30px;
    padding-bottom: 0px;
  }
  .featurette h1 {
    color: #642164;
    font-size: 45px;
  }
  .featurette p {
    font-size: 27px;
  }
}

.gradient {
  background: linear-gradient(top, #7a7a7a 0%, #6c6c6c 50%, #545454 51%, #6a6a6a 100%);
}
.hovereffect {
  background: linear-gradient(top, #545454 0%, #434343 50%, #333333 51%, #505050 100%);
}
.navbar-static-top {
  margin-bottom: -30px;
}
.nav {
  padding-top: 50px;
}

.jumbotron {
  margin: 0px;
  padding: 0px;
}
.inner-container {
  display: inline-block;
  position: relative;
  right: -50%;
  height: 100%;
}
.inner-container img {
  position: relative;
  left: -50%;
}
h4 {
  color: #642164;
}
h3 {
  font-weight: 200;
  font-size: 45px;
}
.white {
  position: absolute;
  width: 100%;
  background-color: #fffffe;
}
.featurette p {
  font-size: 18px;
  font-weight: 400;
}
.btn-info {
  background-color: #642164;
  border-color: white;
}
.btn-info:hover {
  background-color: #642164;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.label {
  color: #642164;
  font-size: 14px;
}
.website-display {
  margin-top: 15px;
  text-align: center;
}
.website-display .btn {
  margin-top: 15px;
}
strong.colored {
  color: #642164;
}
a:hover,
a {
  transition: color 5s ease;
  color: #642164;
}
