        <h1 class="featurette-heading">Prayers Answered in Honduras: <span class="text-muted">Lives Changed Forever</span></h1>
        <h3 class="featurette-subtitle" style="font-size:large"> First and foremost let me thank God for His profound grace and answer to prayer.<br />His work is more perfect and more beautiful than I could have ever imagined.</h3>
        <hr />
        <div>
            <div class="col-sm-12">
                <p>
                    In February 2010 I traveled to San Pedro Sula, Honduras for my first short-term mission trip. There I met Glenda (18) and her daughter, Nicole (1) in the Casitas detention facility for teenage girls. They were placed at Casitas because Glenda was in trouble with abusing alcohol and drugs. They were living on the streets and were brought to the facility by the police. <br /><br />
                    One of my first memories of Casitas was this young mother who was never without her child by her side. I fell in love with Nicole immediately. She is sweet, smart, and lovable. <br /><br />
                </p>
            </div>
            <div class="col-sm-4" style="margin-bottom:20px">
                <img class="featurette-image-left" src="images/marchNewsletter1.jpg" style="width:100%; padding-right:30px"/>  
            </div>
            <div class="col-sm-8" style="padding-left:0px">
                <p>
                    After 8 visits reuniting with them each year in February and October during my one-week mission trips, I observed each of them during bible study with the Orphan Helpers staff (Olga, Jackie, and Betty). Each visit I watched Nicole get closer to God. I remember her vividly singing praise songs, raising her hand in praise like the other teenage girls, and my visit this past October 2013, she recited scripture (Psalm 4:1) in Spanish. Glenda’s faith waned in comparison to Nicole and other girls at the center. She did not participate in singing nor did she pay attention during bible study. Glenda was immature. When I addressed her behavior and disinterest for the Lord, she would say she “wanted to be sure about how she felt about God because God was not a toy”.<br /><br />    
                </p>
            </div>
            <div>
                <p>
                    In October 2013 two things happened. During a small group activity we were working with Soularium cards, which are picture cards that depict dozens of different emotions. The girls were told to pick 3 cards that represented their feelings and hopes for the future. All the girls took their turn including Glenda. Then Nicole picked a card and she announced that she wanted to tell me about her choice. She showed me and the group a picture of a baby bird that was in the palm of a hand. She said “I want to be this baby bird and fly out of the nest.” It was a simple statement, yet profound. Nicole was ready to leave Casitas! The next thing that happened was a telling sign from God. As I exited the gates of Casitas that afternoon, members of my team were gathered around a fern bush. I stepped up to the fern and there it was …a baby bird was in the bush, it’s mouth open and it’s wings trying to spread. Where did it come from? There were no trees in the parking lot. No nest in the bush. That bird was from God and it was a testament to Nicole’s statement earlier that day. She was ready to leave and God was confirming!<br /><br />
                    The next morning I took a cell phone picture of the baby bird to Glenda and I told her the story. I told her it was a sign from God and that she needed to take Him seriously. It was God’s timing. I wanted her to know I was there for her and I asked her if she was ready to accept Christ in her heart. I told her I wouldn’t be with her next week. I was with her today for a reason and God left His message outside those gates for a reason. By the way, the bird was not anywhere to be seen in the morning. Glenda was convinced it was a sign. She finally got it. Praise God, Glenda accepted Christ with me and my translator, Vera, that afternoon, October 23rd!!<br /><br />
                    One month after Glenda accepted Christ, the government of Honduras released mother and daughter. They were released, but had no definite place to go. By the grace of God, they were able to stay with a member of the Orphan Helpers staff temporarily through the holidays. Next, more grace was shown. An opportunity presented itself and they moved in with a missionary couple, Tara and Jorge, from Room Ministries until a permanent home could be found. Today, they are living in their own small apartment with the financial support of Operation Blessing, a U.S. non-profit organization. Grace abounding!<br /><br />
                </p>
            </div>
            <div class="col-sm-7" style="padding-left:0px">
                <p>    
                    Glenda now attends beauty school classes each morning after getting Nicole on the bus to Eagles Academy in San Pedro Sula, where she attends a Christian bi-lingual school. With the help of another U.S. non-profit organization, Sparrow Missions, Nicole has been sponsored financially and is attending school! Glenda is hoping to be licensed very soon to do do manicures and pedicures to earn a living.<br /><br />
                    During my latest trip to San Pedro Sula, I was able to reunite with the girls in a beautiful hotel - in a room filled with the North Way team members and translators that have prayed for this mother and daughter over the years. Many seeds of hope have been planted over the years at Casitas. Seeing the fruits of those seeds blessed by God was truly a miracle!!!!<br /><br />
                    Glenda and Nicole’s story has not been an easy road and I believe once Glenda accepted Christ….their story changed dramatically and positively. Prayers were answered! With God’s profound grace He has provided them a safe home, opportunities for education, and financial support from “many” organizations and short-term mission teams across the U.S., especially North Way’s team.<br /><br />
                    As for me - my heart was broken for the children of Honduras and God has changed my life forever by calling me to the missionary field. I can’t thank Him enough. <br /><br />
                    As the song goes….Who makes the orphan our son and daughter? The King of Glory, the King above all kings.<br /><br />
                </p>
                <h3 class="featurette-subtitle">Lori Kobayashi</h3>
            </div>
            <div class="col-sm-5" style="margin-bottom:20px">
                <img class="featurette-image-right" src="images/marchNewsletter2.jpg"/>  
            </div>
        </div>