<div class="oc-table">
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
		<thead>
			<tr class="table-heading">
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Spouse First Name</th>
				<th>Spouse Last Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>About Me</th>
				<th>Church</th>
				<th>Agency</th>
				<th>Heard About</th>
				<th>Came Before</th>
				<th>Lunch</th>
				<th>Childcare Needed</th>
				<th>Children</th>
				<th>Breakout Session 1</th>
				<th>Breakout Session 2</th>
				<th>Breakout Session 3</th>
			</tr>
		</thead>
		<tbody>
			<tr dt-rows="" ng-repeat="person in signups">
				<td>{{ person.Id }}</td>
				<td>{{ person.FirstName }}</td>
				<td>{{ person.LastName }}</td>
				<td>{{ person.SpouseFirstName }}</td>
				<td>{{ person.SpouseLastName }}</td>
				<td>{{ person.Email }}</td>
				<td>{{ person.Phone }}</td>
				<td>{{ person.Address }}</td>
				<td>{{ person.City }}</td>
				<td>{{ person.State }}</td>
				<td>{{ person.Zip }}</td>
				<td>{{ person.AboutMe }}</td>
				<td>{{ person.Church }}</td>
				<td>{{ person.Agency }}</td>
				<td>{{ person.HeardAboutUs }}</td>
				<td>{{ person.PreviouslyAttended }}</td>
				<td>{{ person.Lunch }}</td>
				<td>{{ person.ChildcareNeeded }}</td>
				<td>{{ person.ChildrenNamesAndAges }}</td>
				<td>{{ person.BreakoutSession1 }}</td>
				<td>{{ person.BreakoutSession2 }}</td>
				<td>{{ person.BreakoutSession3 }}</td>
			</tr>
		</tbody>
	</table>
</div>