<toaster-container></toaster-container>
<div ng-controller="AdminCtrl" class="container" style="margin:75px;min-height:100%;">
	<div class="form-section row">
		<div class="col-sm-4 form-group input round-border h-center">
			<span>Email</span>
			<input type="email" ng-model="loginModel.Email" />
		</div>
	</div>
	<div class="form-section row">
		<div class="col-sm-4 form-group input round-border h-center">
			<span>Password</span>
			<input type="password" ng-model="loginModel.Password"/>
		</div>
	</div>
	<button class="h-center large" type="submit" ng-click="login()">Login</button>
</div>
