<div id="supportGroups" class="container first">
    <div class="row">
        <div class="col-md-8">
            <h1 class="featurette-heading negative">Pre-Adoption Support Group</h1>
            <p>This group is for those who are considering adoption, ready to start the process, just starting the paperwork chase or waiting for their child.</p>
            <p>Meets the 2nd Sunday of each month at North Way, Wexford Campus, Founders Room C, 7:00 – 8:30 pm</p>
            <p>Contact Kerri at <a href="kerri.boatwright@gmail.com">kerri.boatwright@gmail.com</a></p>
        </div>
    </div>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="featurette-heading negative">MOMs Adoptive and Foster Support Group</h1>
            <p>Parenting is hard work! And parenting kids from the hard places of adoption and foster care comes with its own unique challenges.  Come join other moms who can laugh with you, cry with you, pray with you, and encourage you!  Please do not go through this journey alone!</p>
            <p>Join us on the third Wednesday of each month from 6:30 – 8:30 at the North Way Wexford campus. Contact Kari Cole - <a href="jkcole510@yahoo.com">jkcole510@yahoo.com</a></p>
        </div>
    </div>
</div>
<hr/>
<div id="personalStories" class="container">
    <h1 class="featurette-heading negative">Personal Stories</h1>
    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/images/banzePic.jpg" style="width: 140px; height: 140px; margin-top:15px">
            <h2 class="featurette-heading">The Banze's Story</h2>
            <p>Growing up, I had a dream similar to most young girls. I had always thought that I would grow up, fall in love, get married and when we were ready, have children. Little did I know that God had other plans.</p>
            <button class="center" data-toggle="modal" data-target="#story1">Read More</button>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/images/himmler1.jpg" style="width: 140px; height: 140px; margin-top:15px">
            <h2 class="featurette-heading">The Himmler’s Story</h2>
            <p>God led us to adopt through my wife, Kristin. God placed a calling to adopt in my wife’s heart about eight years ago. We discussed it some then, but always kind of assumed it was something for years down the road, if at all. I always liked the idea of adopting, but never went any deeper with the thought because of the financial challenges adoption presented.</p>
            <button class="center" data-toggle="modal" data-target="#story2">Read More</button>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/images/BlincowFamily.jpg" style="width: 140px; height: 140px; margin-top:15px">
            <h2 class="featurette-heading">The Blincow's Story</h2>
            <p>God placed the call to adopt in our hearts before we were even married. My brother and his wife adopted a 5 day old baby and modeled for us the joy of adoption. After we were married, finished college and bought a house, we decided to start a family.</p>
            <button class="center" data-toggle="modal" data-target="#story3">Read More</button>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
<hr />
<div id="adoptionFund" class="container">
    <h1 class="featurette-heading negative">Adoption Fund</h1>
    <p>The financial costs related to adoption are often the primary hurdle that families feel they need to clear in order to proceed with the calling God has placed on their heart. OrphanCare, in partnership with LifeSong for Orphans, has established its own North Way Adoption Fund to help qualified families with the financial cost of adoption.</p>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="featurette-heading">Interest Free Loans</h3>
            <p>North Way Adoption Fund offers interest-free loans up to $10,000 in order to help couples overcome the high cost of adoption. For donors, this is a gift that keeps on giving. As the loans are repaid, new family needs are met, creating a self-perpetuating fund.</p>
            <ul>
                <li>Couples enter into a covenant agreement to repay the loan through manageable monthly or annual payments.</li>
                <li>Couples may utilize the Federal Adoption Tax Credit to support their loan payments.</li>
                <li>Couples may utilize employer reimbursement programs to support their loan payments.</li>
            </ul>
            <p>Our prayerful desire is that these funds be used to bring orphans to their forever families!</p>
            <button class="large"><a target="_blank" href="/resources/Northway%20Adoption%20Fund%20Application.pdf">Download Application</a></button>
        </div>
        <div class="col-sm-6">
            <h3 class="featurette-heading">Matching Grants</h3>
            <p>North Way Adoption Fund offers matching grants that encourage the adopting couple's family and friends to financially and prayerfully support the adoption.</p>
            <ul>
                <li>Dollar-for-dollar matching grants up to $4,000 act as catalysts in raising funds.</li>
                <li>Involving the local church creates a lifelong bond between the church family and the adopted child.</li>
            </ul>
        </div>
    </div>
    <hr/>
    <h3>Donations</h3>
    <p>To contribute to the North Way Adoption Fund, please send your check made out to "LifeSong for Orphans" to:</p>
    <address>
        <strong>LifeSong for Orphans</strong><br>
        PO Box 40<br>
        202 N. Ford Street<br>
        Gridley, IL 61744<br>
    </address>
    <p>Note that your contribution is for "North Way Adoption Fund."</p>
    <p>Your contributions are tax deductible.</p>
    <section class="link-scaleupbounce">
        <p>Our partner website: <a href="www.lifesongfororphans.org">www.lifesongfororphans.org</a></p>
    </section>
</div>
<hr/>
<div style="margin-top:25px;">
    <div id="adoptionAgencies" class="container">
        <h1 class="featurette-heading negative">Local Adoption Agencies</h1>
        <div id="container">
            <ul>
                <li ng-repeat="agency in agencies">
                    <a ng-href="{{agency.link}}">
                        <span ng-style="agency.style">
                            <div class="cell-overlay">
                                <p class="title">{{agency.title}}</p>
                            </div>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="container" style="padding-bottom: 35px;">
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid #ccc">
                <h1 class="featurette-heading">Comparing Adoption Agencies: <span class="text-muted">Questions To Ask</span></h1>
                <!--				<div class="col-sm-5">-->
                <li>What is the overall philosophy of the agency?</li>
                <li>How long has the agency been licensed? In what state(s)?</li>
                <li>How many adoptions has the agency completed?</li>
                <li>Which professional organizations is the agency a member of?</li>
                <!--				</div>-->
                <!--				<div class="col-sm-7" style="padding-bottom:15px">-->
                <li>Is the agency accredited with the Council On Accreditation (COA) or currently seeking accreditation?</li>
                <li>Can they provide a parent referral list that includes telephone numbers?</li>
                <li>What type of parent education and support services does the agency provide?</li>
                <li>What is the general total cost?</li>
                <!--				</div>-->
                <button class="large" data-toggle="modal" data-target="#questions" style="margin-top: 15px;">View All Questions</button>
            </div>
            <div class="col-md-6">
                <div  style="padding-left: 25px;">
                    <h1 class="featurette-heading"><span class="text-muted">SWAN</span> - Pennsylvania Statewide Adoption & Permanency Network</h1>
                    <div class="row">
                        <p>
                            The Statewide Adoption and Permanency Network (SWAN) is both a broad-based cooperative
                            effort and a centralized information and facilitation service funded and overseen
                            by the Pennsylvania Department of Public Welfare. SWAN includes county children
                            and youth agencies, juvenile court judges, foster and adoptive parents, private
                            adoption agencies, the Pennsylvania Adoption Exchange and many others, all working
                            together on behalf of children who need permanent homes.
                        </p>
                        <p>
                            The SWAN program serves children in the custody of county children and youth agencies.
                            The design of the network is to support the work of county agencies in expediting
                            permanency services.
                        </p>
                        <div>
                            <button href="http://www.adoptpakids.org">Visit SWAN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Exploring Adoption Signup</h4>
                </div>
                <div class="modal-body">
                    <div class="form-section row">
                        <div class="col-sm-6 form-group">
                            <p class="label">Name</p>
                            <input type="text" name="Name" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Email</p>
                            <input type="text" name="Email" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Address</p>
                            <input type="text" name="Address1" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">City</p>
                            <input type="text" name="City" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">State</p>
                            <input type="text" name="State" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Zip Code</p>
                            <input type="text" name="Zip" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Phone</p>
                            <input type="text" name="Phone" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Children</p>
                            <select name="Children" class="form-control">
                                <option value=0>No</option>
                                <option value=1>Yes</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Children Names and Ages</p>
                            <input type="text" name="ChildrenNames" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Church</p>
                            <select name="Church" class="form-control" data-bind="value: church">
                                <option></option>
                                <option>North Way East End</option>
                                <option>North Way Oakland</option>
                                <option>North Way Sewickley Valley</option>
                                <option>North Way Wexford</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-sm-12 form-group" data-bind="visible: showOtherChurch">
                            <p class="label">Church Name</p>
                            <input type="text" name="Church" class="form-control"/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Adoption Agency</p>
                            <input type="text" name="AdoptionAgency" class="form-control" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">How did you hear about this event?</p>
                            <select name="Notes" class="form-control" data-bind="value: heard">
                                <option></option>
                                <option>North Way Church</option>
                                <option>Another Church</option>
                                <option>An Email Invitation</option>
                                <option>A friend/relative</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-sm-12 form-group" data-bind="visible: showHowHeard">
                            <p class="label">How did you hear about this event?</p>
                            <input type="text" name="Notes" class="form-control"/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Will you need childcare?</p>
                            <select name="Childcare" class="form-control">
                                <option value=0>No</option>
                                <option value=1>Yes</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <p class="label">Names of children needing care</p>
                            <input type="text" name="ChildcareNames" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveSignup" type="button" class="btn btn-default ladda-button" data-style="slide-left" data-spinner-color="#642164"><span class="ladda-label">Save</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="story1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Jim and Nancy Banze's Story</h4>
                </div>
                <div class="modal-body">
                    <p>Growing up, I had a dream similar to most young girls. I had always thought that I would grow up, fall in love, get married and when we were ready, have children. Little did I know that God had other plans.</p>
                    <p>My husband and I had no reason to think that we wouldn’t be able to have children. As Christians, part of our marriage vow was to accept children lovingly from God and we were looking forward to that phase of our lives. When I didn’t get pregnant within a year of our wedding, we began to see a fertility specialist. Eventually, we started medical treatments to help the process along but still no luck. Finally I became pregnant with twins. I miscarried the first one and a few days later, (on Christmas Day of 2000) I was rushed into the ER. The second fetus was growing into my fallopian tube and my tube had ruptured. I was bleeding to death and almost lost my life.</p>
                    <p>Following our loss, my husband and I went through a very difficult time. We struggled with our faith and questioned God almost daily. We stopped going to church not only because we were mad at God but because no one from the church reached out to see if we were ok. When we needed our church family the most, we felt abandoned by them and by God.</p>
                    <p>Eventually the wounds began to heal. We picked up the pieces of our lives and tried to move on. It was at this point that we began to consider adoption. We selected an agency and started the pre-adoptive paperwork and certifications. We also decided to continue on with fertility treatments at the same time figuring that one way or another we would end up with a baby.</p>
                    <p>The fertility treatments failed and the adoption agency went bankrupt. We were out thousands of dollars and had nothing to show for it. We decided to take a step back and examine our options. Due to the fact that we had just about exhausted our finances, if we wanted children, the only option left was to adopt from foster care. I was reluctant to proceed with this option due to fear that we would fall in love with the child that was placed in our home and then have them taken away to be reunited with their parents.</p>
                    <p>I began to pray and trust God once more. I knew that as a loving Father, He had a reason and a plan for us…I just had no idea what it was. We were one step away from being certified as therapeutic foster parents when I found out that once again I was pregnant. To say that we were overjoyed was an understatement. I felt as if God had rewarded us for our patience and that this baby was a gift. As soon as I found out, I called the foster agency and halted the adoption process. If we chose to proceed, we could always become recertified after our baby was a little older.</p>
                    <p>As I neared the end of my first trimester, my doctor ordered a routine sonogram. The baby was strong with a healthy heartbeat…and growing in my other tube. I had surgery that afternoon to prevent a repeat of my last pregnancy. I remember wondering why God would let this happen again. If it only takes faith the size of a mustard seed to move mountains, why couldn’t He do something as simple as place this tiny baby in the right place? I believed in miracles but it seemed that they only happened to other people (or so I thought).</p>
                    <p>As I began to heal, I continued to pray for guidance. I asked for God’s will to be done in my life and for the understanding to accept it. We resumed the process of being recertified as foster parents. Within a week of becoming certified, we were placed with two children. They were brother and sister and had been through more in their little lives than most people have been in a lifetime. We didn’t have the luxury of nine months to prepare for their arrival. Not to mention, we had ten minutes to decide if we wanted to have them placed with us. We had nothing. No clothes, no beds, no toys, no diapers, nothing. Here is where our faith came in to play again. We decided to put it in God’s hands and just like the loaves and fishes, He provided for those children in spades.</p>
                    <p>In the months that followed, we tried to adjust to our new lives. The kids had a lot of issues and we were trying our best to deal with them. We were approached by our case worker to take yet another child – our children’s older brother which up to that point we did not even know existed. This was not a decision that we could take lightly. We asked for some time to pray about it before we gave them an answer. This was not an easy decision and now more than ever, we really felt the need to find a church to call home. We were led to attend North Way and were impressed with the friendliness as well as encouraged that the church had an orphan care ministry. I knew in my heart that this was a special place and that we had found our new church family.</p>
                    <p>We continued to attend every weekend and pray for guidance. One weekend, the Pastor announced that there would be elders after the service available to pray with anyone who needed it. Jim and I went forward for prayer – we didn’t know any of the elders so we decided to look for a Pastor to pray with. We waited patiently for the Pastor to be free but it seemed as if he didn’t even see us. The kids were restless and ready to go home. I told my husband we should just ask that nice looking couple to pray with us. We introduced ourselves and our kids. I explained that these were our foster children (soon to be adopted children) and that we had some issues that were weighing heavy on our hearts. The man introduced himself and his wife (Al and Mary) and began to pray over us.</p>
                    <p>Upon the conclusion of the prayer, Al remarked that it was funny that we came to them. He said that his wife had felt led by God to also become certified foster parents and they were close to finishing their certification. I asked them if they were planning to foster or adopt. They said they would like to adopt. I told them about the older sibling of our children who needed a home. They took down the information and Will was placed with them in November of 2008.</p>
                    <p>I am sure that you can guess the rest. Almost a year to the day that we had that conversation, Mary and Al adopted Will and my husband Jim and I adopted Alyssa and Bobby. We had a joint adoption so that the children could get to see their siblings being adopted. They can be seen almost every Sunday after the 11 am service in the kid’s space hugging, laughing and playing with each other.</p>
                    <p>Sometimes when I sit back and think about how the whole thing played out, I get tears in my eyes. I am amazed at how God orchestrated the whole thing; from opening our hearts to the option of foster care adoption to leading us to North Way and ultimately to meeting Mary and Al. It was all part of God’s master plan. If I could pick only one lesson that I learned from all this, it is to “let go and let God”.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="story2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Chad & Kristin Himmler’s Story</h4>
                </div>
                <div class="modal-body">
                    <p>God led us to adopt through my wife, Kristin. God placed a calling to adopt in my wife’s heart about eight years ago. We discussed it some then, but always kind of assumed it was something for years down the road, if at all. I always liked the idea of adopting, but never went any deeper with the thought because of the financial challenges adoption presented. I was a young beginning teacher, with a beginner teacher salary, planning on raising a family with one salary, all the while severely in debt with student loans. To me, we could not afford to adopt, pure and simple. We began having our own kids and the idea of adopting completely left my mind, although it never left Kristin’s heart and mind. Even after three of our own kids, the adoption calling was still heavy on my wife’s’ heart! I continued to use the excuse that we couldn’t afford, it. I began to feel God challenging me through my wife, but kept making excuses. Then we heard a sermon at church titled “Ruined for the Ordinary”, Pastor Kent asked, “ Are there certain things in your life you know specifically God has spoken to you and you’re choosing to ignore it? Are you waiting for God to give you just one more sign to help make His will clear to you? Why do you pray for things that the Bible clearly states? STOP PRAYING and jump! Kent said, let's turn this around...what if God is waiting for YOU....what if He has laid out everything in front of you over the years and now He's waiting for you to jump in, walk with Him and trust Him on this journey?</p>
                    <p>I felt like that message was being spoken straight to me. I began making myself open to the idea of adoption. I was still scared about the finances, but I began exploring the idea in my mind. A few weeks later, Kristin and I were talking and she shared with me her feeling that God desired for us to have a fourth child. I couldn’t believe what was about to come out of my mouth. I said, “I don’t think you should birth another baby, due to health issues, but I would be open to adopting.” That was totally a response from God and a testimony to Gods’ unfailing commitment to each one of us. And so it began from there. We began doing deeper research into adoption and found many answers to my financial worries that very next day. We learned about the adoption tax credit and the partnership our church has with a ministry called Lifesong, offering matching grants and interest free loans to offset the cost of adoption. It was as if God was waiting for me to step out on faith, as a test, before showing us how He was going to work it out.</p>
                    <p>In August of 2008 we decided to adopt an infant from Ethiopia. Our dossier was submitted January 2009 and then we waited for about 20 months. On October 25th, 2010 we got the call from our agency saying that they had a little boy, with big eyes for us to see! They sent all of his information and a picture and it was love at first sight! He was almost 4 months old and very malnourished. We couldn’t wait to go to Ethiopia to meet him. In January 2011 we both traveled to Ethiopia to meet our new son and appear in court. We had to leave Bryzick in Ethiopia for about 2 more months until U.S. Embassy paperwork was finalized. In late March, Kristin traveled to Ethiopia to bring Bryzick home. He met his new family on April 2nd, 2011! After two long years of waiting we will forever remember this special family day. He has now been home for almost a year and it is amazing to see how much he’s grown. We give God ALL the glory in Bryzick’s adoption. The love, encouragement, support and prayers from our church family have been amazing! Our family will be forever grateful for all of these blessings!</p>
                    <p>Once our eyes are opened we cannot pretend we do not know what to do. God, who weighs our hearts and keeps our souls knows we know and holds us responsible to act. - Proverbs 24:12</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="story3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Randy and Deanna Blincow's Story</h4>
                </div>
                <div class="modal-body">
                    <p>God placed the call to adopt in our hearts before we were even married. My brother and his wife adopted a 5 day old baby and modeled for us the joy of adoption. After we were married, finished college and bought a house, we decided to start a family. The Lord blessed us with 2 biological children, a boy and a girl, and we had a comfortable life. Always, the call to adopt was in the back of our minds.</p>
                    <p>In June of 1997 we moved our family to Wisconsin. Our two children were 7 and 8 years old and I decided that it was time to either pursue the adoption idea or to give it up forever. After the children started school in the fall, I scheduled lunch with my husband and told him that I had been thinking a lot about adoption and felt it was time to either go for it or give it up. Unbeknownst to me, God had also been speaking to him, so he turned to me and said “let’s go for it!” That was the beginning of our 2 year process to bring home 2 beautiful children from Russia. We knew nothing about the adoption process or where to start so we began where every educated, informed person goes – the Yellow Pages!! I looked up Christian adoption agencies and started making phone calls. One agency caught my attention – they were starting a new Russian program. So, in December of 1997 we went to an orientation meeting and applied to adopt a child from Irkutsk, Russia.</p>
                    <p>Over the next several months as we completed our home study and put together our dossier, we discussed that we would want to eventually adopt two children and so we made the decision to apply for two children at once, an infant and a toddler. We talked to our son and daughter, including them in our plans from the beginning, and generally built within them excitement about adding to our family through adoption. Finally, a year after we had applied for the adoption we got 2 phone calls that started an emotional roller coaster ride. The first phone call was from our agency, telling us that the Judge in Irkutsk, Russia was suspending all adoption approvals. The next day we received a 2nd phone call saying they had our referrals and did we want to come see pictures of our son and daughter? This began the hardest test of the entire process. We had now accepted the referral for a 9 month old girl, Nina and a 18 month old boy, Urie. The situation with the judge, however, meant we did not know if we would ever be able to go to Russia and bring them home. We knew that if God wanted these two children to be in our family – it would happen. So we agreed that we would continue to pursue them and if it fell through we would take that as a closed door. The months ahead were filled with many twists and turns, but the judge finally started approving adoptions and we waited for our court date to be set.</p>
                    <p>The Bible tells us in Psalm 139:16 “Your eyes saw my unformed body; all the days ordained for me were written in your book before one of them came to be.” This verse has become the cornerstone of our adoption journey. We firmly believe that God does ordain each of our days, and that He did ordain these two children to be in our family. On September 30th, 1999 two years after the decision to “go for it” we brought home Justin and Jessica from an orphanage in Irkutsk, Russia where they joined their big brother and sister and we became the family that God had ordained from the beginning.</p>
                    <p>In 2007 God called us to be part of starting an orphan care ministry at North Way. This has enabled us to continue our call to work in the area of adoption, to share our story with others, and help others through the process. We pray that all Christians will be convicted by the words of Psalm 82:3 to “defend the weak and the fatherless” and to advocate for the needs of orphans all around the world.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="story1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Jim and Nancy Banze's Story</h4>
                </div>
                <div class="modal-body">
                    <p>Growing up, I had a dream similar to most young girls. I had always thought that I would grow up, fall in love, get married and when we were ready, have children. Little did I know that God had other plans.</p>
                    <p>My husband and I had no reason to think that we wouldn’t be able to have children. As Christians, part of our marriage vow was to accept children lovingly from God and we were looking forward to that phase of our lives. When I didn’t get pregnant within a year of our wedding, we began to see a fertility specialist. Eventually, we started medical treatments to help the process along but still no luck. Finally I became pregnant with twins. I miscarried the first one and a few days later, (on Christmas Day of 2000) I was rushed into the ER. The second fetus was growing into my fallopian tube and my tube had ruptured. I was bleeding to death and almost lost my life.</p>
                    <p>Following our loss, my husband and I went through a very difficult time. We struggled with our faith and questioned God almost daily. We stopped going to church not only because we were mad at God but because no one from the church reached out to see if we were ok. When we needed our church family the most, we felt abandoned by them and by God.</p>
                    <p>Eventually the wounds began to heal. We picked up the pieces of our lives and tried to move on. It was at this point that we began to consider adoption. We selected an agency and started the pre-adoptive paperwork and certifications. We also decided to continue on with fertility treatments at the same time figuring that one way or another we would end up with a baby.</p>
                    <p>The fertility treatments failed and the adoption agency went bankrupt. We were out thousands of dollars and had nothing to show for it. We decided to take a step back and examine our options. Due to the fact that we had just about exhausted our finances, if we wanted children, the only option left was to adopt from foster care. I was reluctant to proceed with this option due to fear that we would fall in love with the child that was placed in our home and then have them taken away to be reunited with their parents.</p>
                    <p>I began to pray and trust God once more. I knew that as a loving Father, He had a reason and a plan for us…I just had no idea what it was. We were one step away from being certified as therapeutic foster parents when I found out that once again I was pregnant. To say that we were overjoyed was an understatement. I felt as if God had rewarded us for our patience and that this baby was a gift. As soon as I found out, I called the foster agency and halted the adoption process. If we chose to proceed, we could always become recertified after our baby was a little older.</p>
                    <p>As I neared the end of my first trimester, my doctor ordered a routine sonogram. The baby was strong with a healthy heartbeat…and growing in my other tube. I had surgery that afternoon to prevent a repeat of my last pregnancy. I remember wondering why God would let this happen again. If it only takes faith the size of a mustard seed to move mountains, why couldn’t He do something as simple as place this tiny baby in the right place? I believed in miracles but it seemed that they only happened to other people (or so I thought).</p>
                    <p>As I began to heal, I continued to pray for guidance. I asked for God’s will to be done in my life and for the understanding to accept it. We resumed the process of being recertified as foster parents. Within a week of becoming certified, we were placed with two children. They were brother and sister and had been through more in their little lives than most people have been in a lifetime. We didn’t have the luxury of nine months to prepare for their arrival. Not to mention, we had ten minutes to decide if we wanted to have them placed with us. We had nothing. No clothes, no beds, no toys, no diapers, nothing. Here is where our faith came in to play again. We decided to put it in God’s hands and just like the loaves and fishes, He provided for those children in spades.</p>
                    <p>In the months that followed, we tried to adjust to our new lives. The kids had a lot of issues and we were trying our best to deal with them. We were approached by our case worker to take yet another child – our children’s older brother which up to that point we did not even know existed. This was not a decision that we could take lightly. We asked for some time to pray about it before we gave them an answer. This was not an easy decision and now more than ever, we really felt the need to find a church to call home. We were led to attend North Way and were impressed with the friendliness as well as encouraged that the church had an orphan care ministry. I knew in my heart that this was a special place and that we had found our new church family.</p>
                    <p>We continued to attend every weekend and pray for guidance. One weekend, the Pastor announced that there would be elders after the service available to pray with anyone who needed it. Jim and I went forward for prayer – we didn’t know any of the elders so we decided to look for a Pastor to pray with. We waited patiently for the Pastor to be free but it seemed as if he didn’t even see us. The kids were restless and ready to go home. I told my husband we should just ask that nice looking couple to pray with us. We introduced ourselves and our kids. I explained that these were our foster children (soon to be adopted children) and that we had some issues that were weighing heavy on our hearts. The man introduced himself and his wife (Al and Mary) and began to pray over us.</p>
                    <p>Upon the conclusion of the prayer, Al remarked that it was funny that we came to them. He said that his wife had felt led by God to also become certified foster parents and they were close to finishing their certification. I asked them if they were planning to foster or adopt. They said they would like to adopt. I told them about the older sibling of our children who needed a home. They took down the information and Will was placed with them in November of 2008.</p>
                    <p>I am sure that you can guess the rest. Almost a year to the day that we had that conversation, Mary and Al adopted Will and my husband Jim and I adopted Alyssa and Bobby. We had a joint adoption so that the children could get to see their siblings being adopted. They can be seen almost every Sunday after the 11 am service in the kid’s space hugging, laughing and playing with each other.</p>
                    <p>Sometimes when I sit back and think about how the whole thing played out, I get tears in my eyes. I am amazed at how God orchestrated the whole thing; from opening our hearts to the option of foster care adoption to leading us to North Way and ultimately to meeting Mary and Al. It was all part of God’s master plan. If I could pick only one lesson that I learned from all this, it is to “let go and let God”.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="questions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Comparing Adoption Agencies: Questions To Ask</h4>
                </div>
                <div class="modal-body">
                    <li>What is the overall philosophy of the agency?</li>
                    <li>How long has the agency been licensed and in what states?</li>
                    <li>How many adoptions has the agency completed?</li>
                    <li>Which professional organizations is the agency a member of?</li>
                    <li>Is the agency accredited with the Council On Accreditation (COA) or currently seeking accreditation?</li>
                    <li>Is the agency a member of the Joint Council on International Children’s Services or the National Council for Adoption?</li>
                    <li>Can they provide a parent referral list that includes telephone numbers?</li>
                    <li>What type of parent education and support services does the agency provide?</li>
                    <li>What type of support can I expect once my adoption is completed?</li>
                    <li>Foster Care: What is this state’s practice regarding the provision of subsidies and Medicaid for children adopted from foster care?</li>
                    <li>International: How much experience do the agency management and Case Managers have in international adoption</li>
                    <li>If you are interested in a specific country, what are the number of completed adoptions for that specific country and the number of years working in that country? How many recent adoptions has the agency completed in the country?</li>
                    <li>Does the staff travel to the children’s birth countries to evaluate a program’s effectiveness and meet with adoption officials? How often?</li>
                    <li>What standards does the agency adhere to in cooperating with in-country associates (attorneys, facilitators)? How long has the agency worked with the associates and how were they chosen?</li>
                    <li>Does the agency have U.S. staff fluent in the languages of the countries in which they work?</li>
                    <li>Does the agency assist the birth country with humanitarian aid?</li>
                    <li>What type of assistance is offered to clients when they travel to the birth country?</li>
                    <li>Are transportation and translators made available?</li>
                    <li>What is the general total cost?</li>
                    <li>What are the fees for the following: Application Fee; agency fee; post-adoption administrative fee; home-study fee; document translation & certification fees (International); international program fees; travel, lodging & meal expenses; child’s visa fee?</li>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
