<div class="fullscreen-card-wrapper">
	<div class="card">
		<div class="row">
			<h1 class="featurette-heading negative negative--expo">Expo Breakout Schedule</h1>
			<div class="color-legend">
				<h3>Track Legend</h3>
				<div class="color-key" ng-style="trackColorForBreakout('Justice')"></div><span> Justice</span><br/>
				<div class="color-key" ng-style="trackColorForBreakout('Student')"></div><span> Student</span><br/>
				<div class="color-key" ng-style="trackColorForBreakout('Adoption')"></div><span> Adoption</span><br/>
				<div class="color-key" ng-style="trackColorForBreakout('Ministry')"></div><span> Ministry</span><br/>
			</div>
			<div ng-repeat="session in sessions">
				<div class="schedule-block">
					<h2 class="schedule-header" style="display:inline-block">{{session.time}}</h2>
					<h2 ng-show="$parent.showTitle(session)" style="display:inline-block"> - {{session.title}}</h2>
					<h4 ng-show="$parent.showDetails(session)" style="white-space: pre; color:#000">{{session.details}}</h4>
					<accordion close-others="oneAtATime">
						<accordion-group ng-repeat="breakout in session.breakouts">
							<accordion-heading>
								<div class="color-key" ng-style="trackColorForBreakout($parent.breakout.track)"></div>
								{{breakout.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $parent.breakout.status, 'glyphicon-chevron-right': !$parent.breakout.status}"></i>
							</accordion-heading>
							<p>{{breakout.content}}</p>
							<strong>{{breakout.leader}}</strong>
						</accordion-group>
					</accordion>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="nav--expo">
	<h3>Navigation</h3>
	<ul class="list--nav">
		<li><a href="#expo">Home</a></li>
		<li><a href="#exposchedule">Schedule</a></li>
		<li><a href="#expospeakers">Speakers</a></li>
		<li><a href="#expofaq">FAQ</a></li>
	</ul>
</div>