<div class="fullscreen-card-wrapper">
	<div class="card">
		<div class="row">
			<h1 class="featurette-heading negative negative--expo">FAQ</h1>
			<div ng-repeat="faq in faqs">
				<h3>{{faq.question}}</h3>
				<p>{{faq.answer}}</p>
			</div>
		</div>
	</div>
</div>
<div class="nav--expo">
	<h3>Navigation</h3>
	<ul class="list--nav">
		<li><a href="#expo">Home</a></li>
		<li><a href="#exposchedule">Schedule</a></li>
		<li><a href="#expospeakers">Speakers</a></li>
		<li><a href="#expofaq">FAQ</a></li>
	</ul>
</div>