<div class="fullscreen-card-wrapper"><div class="card"><div class="row"><div><img src="/images/OrphanCareExpo2014.png" class="h-center" style="width:200px">
<h3 style="text-align:center">Thank you all for making Expo '14 a life changing event!</h3><p class="text-center">Please join us November 7th for EXPO '15</p></div></div><br>
<center>

<div style="font:normal normal bold 16pt Tahoma;background-color:lightblue;width:600px;">General Session Video</div>
<p><iframe width="600" height="400" src="//www.youtube.com/embed/M79lkeSkj6A?rel=0" frameborder="0" allowfullscreen></iframe></p>

<br />
<br />

<div style="font:normal normal bold 16pt Tahoma;background-color:lightblue;width:600px;">30 Minutes To Impact Video</div>
<p><iframe width="600" height="400" src="//www.youtube.com/embed/F7ILjWFGc6I?rel=0" frameborder="0" allowfullscreen></iframe></p>

<br />
<br />

<span style="text-align:left;">
<div style="font:normal normal bold 16pt Tahoma;background-color:lightblue;width:600px;">Audio Files</div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc01.mp3" style="text-decoration:underline;" target="_blank">Impacting a Fatherless Generation - Seth Reichart, Urban Impact (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc02.mp3" style="text-decoration:underline;" target="_blank">Beyond the Five Senses:  Sensory Processing Disorder - Kelly Ryan-Schmidt & Meghan Nagle, Three Rivers Adoption Council (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc03.mp3" style="text-decoration:underline;" target="_blank">Adult Adoptee Panel, John Porcari, Moderator (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc04.mp3" style="text-decoration:underline;" target="_blank">Exploring Race, Poverty and the Responsibility of Privilege - Kate Wadsworth, Light of Life,  Paul & Jessica Spradley (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc05.mp3" style="text-decoration:underline;" target="_blank">A Warrior in the Struggle, Mandy Litzke, Safe Harbor Orphan Care Ministry (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc06.mp3" style="text-decoration:underline;" target="_blank">Empowered by Your Story, Shannon Libengood, North Way Missions Director (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc07.mp3" style="text-decoration:underline;" target="_blank">Understanding Teenage Development and the Impact of Adoption, Maureen Ticich & Linda Prevost, Bethany Christian Services (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc08.mp3" style="text-decoration:underline;" target="_blank">A Biblical Foundation for Your Orphan Care Ministry - Matt Geppert, Southeast Asia Prayer Center (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc09.mp3" style="text-decoration:underline;" target="_blank">Weathering the Storm:  Encouragement in Difficult Ministries - Joel Repic, Aliquippa Impact (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc10.mp3" style="text-decoration:underline;" target="_blank">World Without Orphans - Ron Goodman, Orphan Helpers (mp3 format)</a></h4></div>
<div style="width:100%; margin-left:20px;"><h4>&bull;&nbsp;<a href="audio/oc11.mp3" style="text-decoration:underline;" target="_blank">Human Trafficking and Migration (mp3 format)</a></h4></div>
</span>

</center><br><!--



        <hr>
        <div class="row" style="text-align:center">
            <h3>Be Informed. Get Involved.</h3>
            <p><span class="bold">Saturday, November 15</span>
                <br>8 am to 3 pm
                <br>North Way Christian Community
                <br>12121 Perry Highway, Wexford PA 15090</p>
            <p>This free EXPO will include a keynote address, 20 breakout sessions, and 30+ exhibitors.</p>
                        <button class="expo-button large h-center" data-toggle="modal" data-target="#signup"></button>
        </div>
        <hr>
--><!--
        <h1 class="featurette-heading negative negative--expo">Featured Speakers</h1>
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="media-info-top">
                    <div class="circle-speaker-image circle-speaker-image--mandy center-center"></div>
                </div>
                <div class="media-info-bottom">
                    <h2>Mandy Litzke</h2><i>Keynote Speaker</i>
                    <p>Orphan, Foster Child, Adoptee</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="media-info-top">
                    <div class="circle-speaker-image circle-speaker-image--seth center-center"></div>
                </div>
                <div class="media-info-bottom">
                    <h2>Seth Reichert</h2><i>Urban Impact Urban Missionary</i>
                    <p>Mentor, Urban Missionary</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="media-info-top">
                    <div class="circle-speaker-image circle-speaker-image--phil center-center"></div>
                </div>
                <div class="media-info-bottom">
                    <h2>Phil Gazley</h2><i>Kern Coalition, YWAM</i>
                    <p>Justice Expert, Advocate</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="media-info-top">
                    <div class="circle-speaker-image circle-speaker-image--amy center-center"></div>
                </div>
                <div class="media-info-bottom">
                    <h2>Amy Brooks</h2><i>Unseen Arms</i>
                    <p>Author, Adoptee, Artist</p>
                </div>
            </div>
        </div>
--></div></div><!--
<div class="nav--expo">
    <h3>Navigation</h3>
    <ul class="list--nav">
        <li><a href="#expo">Home</a>
        </li>
        <li><a href="#exposchedule">Schedule</a>
        </li>
        <li><a href="#expospeakers">Speakers</a>
        </li>
        <li><a href="#expofaq">FAQ</a>
        </li>
    </ul>
</div>
--><!-- Modals -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" style="width:800px">
<div class="modal-content"><div class="modal-header">
<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
<h4 class="modal-title" id="myModalLabel">Expo Registration</h4></div>
<div class="modal-body"><div class="form-section row"><div class="col-sm-6 form-group">
<p class="label label--expo">First Name</p><input type="text" ng-model="signup.FirstName" class="form-control"></div>
<div class="col-sm-6 form-group"><p class="label label--expo">Last Name</p><input type="text" ng-model="signup.LastName" class="form-control"></div></div><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">Spouse First Name</p><input type="text" ng-model="signup.SpouseFirstName" class="form-control"></div><div class="col-sm-6 form-group"><p class="label label--expo">Spouse Last Name</p><input type="text" ng-model="signup.SpouseLastName" class="form-control"></div></div><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">Email</p><input type="text" ng-model="signup.Email" class="form-control"></div><div class="col-sm-6 form-group"><p class="label label--expo">Phone</p><input type="text" ng-model="signup.Phone" class="form-control"></div></div><hr><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">Address</p><input type="text" ng-model="signup.Address" class="form-control"></div><div class="col-sm-6 form-group"><p class="label label--expo">City</p><input type="text" ng-model="signup.City" class="form-control"></div></div><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">State</p><input type="text" ng-model="signup.State" class="form-control"></div><div class="col-sm-6 form-group"><p class="label label--expo">Zip Code</p><input type="text" ng-model="signup.Zip" class="form-control"></div></div><hr><div class="form-section row"><p class="label label--expo">About me (Check all that apply):</p><div ng-repeat="aboutOption in aboutMe" style="font-size:16px"><div class="col-sm-6 form-group"><input type="checkbox" checklist-model="signup.AboutMe" checklist-value="aboutOption"><span>{{aboutOption}}</span></div></div></div><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">Church (if one)</p><input type="text" ng-model="signup.Church" class="form-control"></div><div class="col-sm-6 form-group"><p class="label label--expo">Adoption Agency (if one)</p><input type="text" ng-model="signup.AdoptionAgency" class="form-control"></div></div><hr><div class="form-section row"><div class="col-sm-12 form-group"><p class="label label--expo">How did you hear about the OrphanCare Expo?</p><select ng-model="signup.HeardAboutUs"><option>My agency told me about it<option>Heard about it on the radio<option>Found it on facebook<option>Heard about it at North Way<option>Heard about it at my own church<option>A friend/relative told me about it<option>Other</select></div></div><hr><div class="form-section row"><div class="col-sm-12 form-group"><p class="label label--expo">Have you previously attended an OrphanCare Expo?</p><select ng-model="signup.PreviouslyAttended"><option>Yes<option>No</select></div></div><hr><div class="form-section row"><div class="col-sm-12 form-group"><p class="label label--expo">Will you be joining us for lunch?</p><select ng-model="signup.Lunch"><option>No, I will not need lunch<option>Yes, sign me up for lunch<option>Yes, but I would prefer a vegetarian option</select></div></div><hr><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">Will you need childcare?</p><select ng-model="signup.ChildcareNeeded"><option>No<option>Yes and I have read the childcare policy below</select></div></div><div class="form-section row"><div class="col-sm-6 form-group"><p class="label label--expo">Children's names and ages</p><input type="text" ng-model="signup.ChildrenNamesAndAges" class="form-control"></div></div><div class="form-section row"><div class="col-sm-12 form-group"><p>Limited childcare is available on a first come basis, and you must pre-register. Please pack a PEANUT FREE lunch for your child. We must be very strict about this peanut free policy in order to protect children with severe allergies. Please do not send food that needs to be heated – we do not have provision for that. We will provide snacks and juices during the day. If you need to cancel, please email Stacy at orphancare@northway.org because we will have a waiting list with someone who would be grateful for your spot. Check in for childcare will be at 8:00 a.m. and children must be picked up by 3:00 p.m.</p></div></div><hr><p>Please select the three breakout sessions that you would like to attend. For descriptions of each breakout please click on the Schedule link on the right.</p><div class="form-section row"><div class="col-sm-12 form-group"><p class="label label--expo">Breakout Session One</p><select ng-model="signup.BreakoutSession1" ng-options="breakout for breakout in breakoutOptions.session1" data-ng-change="fixIE()"><option></select></div></div><div class="form-section row"><div class="col-sm-12 form-group"><p class="label label--expo">Breakout Session Two</p><select ng-model="signup.BreakoutSession2" ng-options="breakout for breakout in breakoutOptions.session2" data-ng-change="fixIE()"><option></select></div></div><div class="form-section row"><div class="col-sm-12 form-group"><p class="label label--expo">Breakout Session Three</p><br><select ng-model="signup.BreakoutSession3" ng-options="breakout for breakout in breakoutOptions.session3" data-ng-change="fixIE()"><option></select></div></div></div><div class="modal-footer"><button ng-click="submitSignup()" data-dismiss="modal" class="btn btn-default ladda-button" data-style="slide-left" data-spinner-color="#642164"><span class="ladda-label">Save</span></button> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>

