<div class="fullscreen-card-wrapper">
	<div class="card">
		<div class="row">
			<h1 class="featurette-heading negative negative--expo">Expo Speakers</h1>
			<div ng-repeat="speaker in speakers">
				<div class="media-info-top"><div ng-style="speaker.styles" class="circle-speaker-image center-center"></div></div>
				<div class="media-info-bottom">
					<h2>{{speaker.name}}</h2>
					<p>{{speaker.bio}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="nav--expo">
	<h3>Navigation</h3>
	<ul class="list--nav">
		<li><a href="#expo">Home</a></li>
		<li><a href="#exposchedule">Schedule</a></li>
		<li><a href="#expospeakers">Speakers</a></li>
		<li><a href="#expofaq">FAQ</a></li>
	</ul>
</div>