<div class="container first">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="featurette-heading negative">MOMs Adoptive and Foster Support Group</h1>
			<p>Parenting is hard work! And parenting kids from the hard places of adoption and foster care comes with its own unique challenges.  Come join other moms who can laugh with you, cry with you, pray with you, and encourage you!  Please do not go through this journey alone!</p>
			<p>Join us on the third Wednesday of each month from 6:30 – 8:30 at the North Way Wexford campus. Contact Kari Cole - <a href="jkcole510@yahoo.com">jkcole510@yahoo.com</a></p>
		</div>
	</div>
</div>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="elevencol last">
				<h1 class="featurette-heading negative">Foster Care Agencies</h1>
				<p>
					While the following agencies have participated in our Orphan Care Expo, we do not
					recommend or endorse any agency. It is the responsibility of the foster family to
					exercise due diligence when evaluating and selecting an agency.
				</p>
				<ul>
					<li><a href="http://www.bair.org">Bair Foundation </a></li>
					<li><a href="http://www.everychildinc.org">EveryChild Inc.</a></li>
					<li><a href="http://www.gwensgirls.org">Gwen’s Girls</a> </li>
					<li><a href="http://www.amazingkids.org">Project STAR</a> </li>
					<li><a href="http://www.3riversadopt.org">Three Rivers Adoption Council </a></li>
					<li><a href="http://www.try-againhomes.org">Try-Again Homes</a> </li>
					<li><a href="http://www.wesleyspectrum.org">Wesley Spectrum Services</a> </li>
					<li><a href="http://www.bethany.org">Bethany Christian Services</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="container">
	<div class="row lists">
		<div class="col-sm-12">

			<div class="elevencol last">
				<h1 class="featurette-heading negative">
					Local Foster Care
				</h1>
				<h2 class="featurette-heading">
					What is foster care?
				</h2>
				<div class="row">
					<div class="col-xs-8">
						<ul>
							<li>It is caring for a child until his or her parent(s) can resume full responsibility,
								or until a permanent home is found. </li>
							<li>It is a commitment to helping a child through a difficult period </li>
							<li>It is a job for people who can provide love and guidance... and then let go
							</li>
						</ul>
						<h2 class="featurette-heading">
							Why do we need foster parents?
						</h2>
						<p>
							Here in Allegheny County, we have a need for more foster homes. Without good foster
							families, the children who have been removed from their families due to abuse and
							neglect do not have the best chance for a secure and successful future.
						</p>
						<h2 class="featurette-heading">
							Who can be a foster parent?
						</h2>
						<ul>
							<li>Families of all types: married and single adults of all ages, races, ethnicities
								and religions </li>
							<li>People who are willing to provide for all the needs of a child in care </li>
							<li>People who have a desire to help a child succeed </li>
							<li>People who are willing to accept a child as a part of their family </li>
						</ul>
						<h2 class="featurette-heading">
							What types of situations lead to a child needing foster care?
						</h2>
						<ul>
							<li>Physical and sexual abuse</li>
							<li>Neglect or abandonment </li>
							<li>Physical or mental illness of a parent </li>
							<li>Death of parents </li>
							<li>Emotional or behavioral problems </li>
						</ul>
						<h2 class="featurette-heading">
							What type of children need foster care?
						</h2>
						<p>
							Children who need foster care come from all backgrounds. They are of every race,
							religion and cultural background. All have different likes and dislikes, talents
							and skills. Often these children have brothers and sisters who need foster care,
							too.
						</p>
						<h2 class="featurette-heading">
							What are the basic requirements to foster a child?</h2>
						<ul>
							<li>Willingness to work in partnership with the caseworker and others planning for the
								child </li>
							<li>Understanding and compassion for the birth parents </li>
							<li>The ability to meet state regulations for foster parents </li>
							<li>Completion of 13 weeks of pre-service training </li>
							<li>Minimum age of 21 </li>
							<li>Background clearance </li>
							<li>A home that meets safety requirements </li>
							<li>A separate bedroom with a bed for each child </li>
							<li>Adequate income to support your own family </li>
						</ul>
						<h2 class="featurette-heading">
							What are the rewards of providing foster care?
						</h2>
						<p>
							While a stipend is provided to foster parents to help them in caring for their foster
							child, the reward is knowing that you have helped give a child comfort, guidance,
							security and a loving home.
						</p>
					</div>
					<img class="col-xs-3" src="/images/orphan%20foster%20homeless%208%2017.jpg" style="float:right;"/>
				</div>
			</div>
		</div>
	</div>
</div>