<div class="jumbotron shadow">
    <div class="jumbotronImage">
        <div class="container jumbotronText expand-height">
            <div class="col-md-4 expand-height">
                <div class="jumbotronIcon vertical-center">
                    <div class="inner-container">
                        <img class="center-center" src="/images/dadandson.jpg" style="height:350px" />
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-7 expand-height">
                <div class="vertical-center">
                    <h1 class="jumbotronTitle"><span>OrphanCare</span></h1>
                    <p class="jumbotronSubtitle">A ministry of North Way Christian Community with campuses in the East End, Dormont, Sewickley, Oakland and Wexford, PA.</p>
                </div>
            </div>
        </div>
        <a class="not-sure-why-they-want-this-here" href="https://www.northway.org">
            <img src="../images/North%20Way%20logo.jpg" alt="">
        </a>
    </div>
</div>
<div class="white shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row" id="about">
                    <div class="row featurette">
                        <hr class="featurette-divider" />
                        <div class="col-sm-5">
                            <img class="featurette-image-right" style="width: 100%; background-color: white;" src="images/Mozambiques.jpg" />
                        </div>
                        <div class="col-sm-7">
                            <h1 class="featurette-heading"><span class='text-muted'>What we are</span> about<span class="text-muted">.</span></h1>
                            <p>We as a church are called by God to "defend the cause of the Fatherless" (Isaiah 1:17) our purpose is to raise awareness of the 147 million orphaned and abandoned children in our world and then educate and equip people with the resources and support they need to care for these at risk children.</p>
                            <blockquote class="pull-right">
                                <p>"Having a heart that is tender towards children without a family is a test of our love for God. If we say we love God but do nothing on the behalf of the world’s vulnerable children, we’re kidding ourselves. You simply cannot love God without developing a passion for orphans."</p>
                                <small>Kay Warren</small>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div id="mission" class="row">
                    <div class="row featurette">
                        <hr class="featurette-divider" />
                        <div class="col-sm-11">
                            <h1 class="featurette-heading">Our Mission <span class="text-muted featurette-heading">Our Ministry</span></h1>
                            <p>To eternally impact the orphan by engaging the Church to “care for orphans in their distress.” We are dedicated to encouraging, educating and empowering families to free orphans to follow Jesus.</p>
                            <p>This ministry was founded in 2006 by North Way Christian Community members dedicated to impacting the plight of the orphan. Our purpose is to act as a resource to individuals and families through:</p>
                            <ul style="font-size:medium;">
                                <li>Education by enlightening the church about the needs of orphan, and the steps to take toward adoption/foster care, or orphan care accomplished primarily by holding conferences, bible studies and classes.</li>
                                <li>Supporting families with prayer, fellowship, networking, and advice. We seek to develop a mentoring, small group environment between families who have already fostered/adopted and those that are in the process through our monthly support group.</li>
                                <li>Providing Financial Resources to families contemplating adoption through our North Way Community Adoption Fund.</li>
                                <li>Mobilization of our members to create a global influence through mission trips to international orphanages.</li>
                                <li>Network with agencies, organizations and other churches in the local, national and international orphan care arena.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="row featurette">
                    <hr class="featurette-divider">
                    <h1 class="featurette-heading">2015 Expo Videos</h1>
                    <div class="col-sm-6">
                      <h3>Christi Rooke Breakout Session</h3>
      				        <iframe src="https://player.vimeo.com/video/145164008" width="100%" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-6">
                      <h3>30 Minutes To Impact</h3>
      				        <iframe src="https://player.vimeo.com/video/145163125" width="100%" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="row" id="contact">
                    <div class="row featurette">
                        <hr class="featurette-divider" />
                        <div class="col-sm-5">
                            <img class="featurette-image-right" style="width: 100%; background-color: white;" src="images/WexfordBuilding.jpg">
                        </div>
                        <div class="col-sm-7">
                            <h1 class="featurette-heading">Contact</h1>
                            <address>
								<strong>OrphanCare Ministry</strong><br>
								North Way Christian Community<br>
								12121 Perry Highway <br>
								Wexford, PA 15090 <br>
							</address>
                            <hr>
                            <address>
								<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><strong>Deanna Blincow</strong><br>
								<span class="glyphicon glyphicon-envelope">&nbsp</span><a href="mailto:dsblink@comcast.net">dsblink@comcast.net</a><br>
								<span class="glyphicon glyphicon-earphone">&nbsp</span><a href="tel:7249356800">724 935 6800</a> x1270<br>
							</address>
                        </div>
                    </div>
                </div>
            </div>
            <div id="summary-side" class="col-sm-3">
                <div class="list-group shadow summary-group" style="margin-top: 30px">
                    <a class="list-group-item" ng-repeat="event in upcomingEvents">
                        <h4>{{event.name}}</h4>
                        <p>{{longDateString(event.date)}}
                            <br/> {{event.time}}
                            <br/> {{event.location}}
                            <br/> {{event.notes}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-default navbar-static-bottom shadow" style="margin-top: 20px;">
        <div class="container">
            <p class="navbar-text">OrphanCare &copy; 2014</p>
            <button class="navbar-btn pull-right" href="#">Subscribe</a>
        </div>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Respite Night Signup</h4>
            </div>
            <div class="modal-body">
                <div class="form-section row">
                    <div class="col-sm-6 form-group">
                        <p class="label">Email</p>
                        <input type="text" ng-model="signup.Email" class="form-control" />
                    </div>
                    <div class="col-sm-6 form-group">
                        <p class="label">Phone</p>
                        <input type="text" ng-model="signup.Phone" class="form-control" />
                    </div>
                </div>
                <div class="form-section row">
                    <div class="col-sm-12 form-group">
                        <p class="label">Children Names</p>
                        <input type="text" ng-model="signup.ChildrenName" class="form-control" />
                    </div>
                </div>
                <div class="form-section row">
                    <div class="col-sm-12 form-group">
                        <p class="label">Children Birthdays</p>
                        <input type="text" ng-model="signup.ChildrenBirthday" class="form-control" />
                    </div>
                </div>
                <div class="form-section row">
                    <div class="col-sm-12 form-group">
                        <p class="label">Parent Names</p>
                        <input type="text" ng-model="signup.ParentName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="submitSignup()" data-dismiss="modal" class="btn btn-default ladda-button" data-style="slide-left" data-spinner-color="#642164"><span class="ladda-label">Save</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
