<div class="container first">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="featurette-heading negative">Embrace Life Ministries</h1>
			<p>Our vision is to see abortion end in our city, nation, and world through a cultural transformation arising from the love and compassion of the body of Christ.</p>
			<p>We seek to accomplish this through four main goals:</p>
			<ol>
				<li><b>Educate</b> the church body on the impact of abortion</li>
				<li><b>Encourage</b> alternatives to abortion</li>
				<li><b>Support</b> women and families who choose life</li>
				<li><b>Healing</b> for those affected by abortion</li>
			</ol>
			<p>The Embrace Life Ministry team meets the 1st Thursday of each month.  For more information or to join our ministry team, please contact Alicia at <a href="EmbraceLife@northway.org">EmbraceLife@northway.org</a></p>
		</div>
		<div class="col-sm-5">
			<img src="/images/embracinglifeministries.png"  style="width:100%; padding-top:120px;"/>
		</div>
		<div class="col-sm-12">
			<blockquote>
				“Rescue those being led away to death; hold back those staggering toward slaughter.  If you say, ‘But we knew nothing about this,’ does not he who weighs the heart perceive it?  Does not he who guards your life know it?  Will he not repay everyone according to what they have done?” 
				<small>Proverbs 24:11-12</small> 
			</blockquote>
		</div>
	</div>
</div>
<hr />
<div id="respiteNight" class="container">
	<h1 class="featurette-heading negative">Justice Team</h1>
	<h3 style="margin-top:0px">Our Mission</h3>
	<div class="row">
		<div class="col-sm-12">
			<p>Rooted in prayer and the Biblical call to seek justice, our mission is to advocate on behalf of the vulnerable and oppressed by engaging the church through education and outreach.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Our Ministry</h3>
			<p>Founded in 2012 at North Way Christian Community, we are dedicated to:</p>
			<ul>
				<li>Advocating on behalf of the vulnerable and oppressed through engaging the church to “do justice, to love mercy, and to walk humbly with our God” (Micah 6:8).</li>
				<li>Raising awareness about the plight of the vulnerable and oppressed including victims of human trafficking, aiming specifically at the community of North Way Christian Community, generally at other churches in our Region and through our global mission partners to their circles of influence.</li>
				<li>Providing opportunities for our team and the larger church body to volunteer and engage in ways to serve the vulnerable and oppressed.</li>
				<li>Developing strategic relationships with churches and agencies to multiply the impact of our collective work.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Our Meetings</h3>
			<p>We meet the third Sunday of every month at 4pm at North Way Christian Community (Wexford campus) unless it is a holiday. Please RSVP to <a href="Justice@northway.org">Justice@northway.org</a> to attend.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h3>Contact</h3>
			<address>
				<strong>Justice Team</strong><br>
				North Way Christian Community<br>
				12121 Perry Highway <br>
				Wexford, PA 15090 <br>    
			</address>
			<p>Or email Erica at <a href="Justice@northway.org">Justice@northway.org</a></p>
		</div>
		<div class="col-sm-4">
			<img src="/images/JusticeTeamLogo.png" style="width:100%" />
		</div>
	</div>
</div>
<hr />
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="featurette-heading negative">Safe Families For Children/ Bethany Christian Services</h1>
			<p>Safe Families for Children™ (SFFC) is a national movement of compassion that gives hope to families in crisis. This network of host families help parents who need to temporarily place their children due to unmanageable or critical circumstances. A host family provides a loving sanctuary and serves out of a sense of compassion and love.</p>
			<p>SFFC is not foster care or adoption. In foster care, children are placed into homes through the courts, and families receive compensation for their care. Through SFFC, host families receive no compensation for caring for children, and parents voluntarily place their children with them. Children who you host are also not believed to be victims of abuse and neglect. The goal of the SFFC ministry is to offer support in a time of need and reunite children with their families in a stronger home environment.</p>
			<p>This temporary care for children in need gives parents time to establish stability in their homes. Can you open your home to a family going through a troubled time? Reach out with God’s love and compassion to embrace those who need help in your community.</p>
		</div>
		<div class="col-sm-7">
			<p>For more information, visit: <a href="http://www.bethany.org/main/safe-families-children">http://www.bethany.org/main/safe-families-children</a></p>
		</div>
		<div class="col-sm-5">
			<img src="/images/safefamiliesforchildren.gif" style="height:130px"/>
		</div>
	</div>
</div>
<hr />
<div class="container last">
	<div class="row">
		<h1 class="featurette-heading negative">Buckner International Shoes for Orphan Souls</h1>
		<div class="col-sm-9">
			<p>Shoes for Orphan Souls®, the largest humanitarian aid project of Buckner International, provides new shoes and socks to orphans and vulnerable children in the United States and throughout the world. From conducting shoe drives to humanitarian aid trips, Shoes for Orphan Souls offers hands-on opportunities to individuals, groups and organizations wanting to transform lives. Since 1999, more than 2.5 million pairs of new shoes and socks have been distributed to children in 76 countries.</p>
		</div>
		<div class="col-sm-3">
			<img src="/images/shoesfororphanslogo.jpg" style="height:120px;"/>
		</div>
		<div class="col-sm-6">
			<img src="/images/shoesfororphansbig.jpg" style="width:100%" />
		</div>
		<div class="col-sm-6">
			<p>Our mission at Shoes for Orphan Souls is to provide new shoes to the world’s 143 million orphans; to the vulnerable children living in families earning less than $1 a day; to the working poor in the United States who need shoes to send their children to school; and to the needy among us.</p>
			<p>Our mission is to provide tangible service opportunities to people compelled to give. We want to share the blessing and reward of giving to others. Volunteers can donate shoes, host a shoe drive or travel with us to deliver the shoes – enriching their lives and the lives of others.</p>
			<p>Our mission is to work together with like-minded organizations to ensure our shoes are given where needed most, when needed most and given repeatedly through long-term partnerships and alliances. </p>
			<p><a href="www.shoesfororphansouls.org">www.shoesfororphansouls.org</a></p>
		</div>
	</div>
</div>

