<div class="container featurette" style="margin-top: 50px; margin-bottom:50px">
    <div class="col-sm-9 animate" ng-include="activeNewsletter.url"></div>
    <div id="summary-side" class="col-sm-3" style="padding-left:45px;">
			<h4 class="text-muted">Past Newsletters</h4>
			<div class="list-group shadow summary-group" style="margin-top: 20px">
					<div ng-repeat="newsletter in newsletters">
					<a ng-href="" class="list-group-item" ng-click="$parent.pickedNewsletter($index);">
							<h4>{{newsletter.title}}</h4>
							<p>{{newsletter.date}}<br/>
							</p>
					</a>
					</div>
			</div>
</div>
