<div class="container" style="margin-top:25px">
		<h1 class="featurette-heading">Expo 2014</h1>
		<button data-toggle="modal" data-target="#signup">Sign up</a>
</div>
<!-- Modals -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Respite Night Signup</h4>
						</div>
						<div class="modal-body">
								<div class="form-section row">
										<div class="col-sm-6 form-group">
												<p class="label">Name</p>
												<input type="text" ng-model="signup.Name" class="form-control" />
										</div>
										<div class="col-sm-6 form-group">
												<p class="label">Email</p>
												<input type="text" ng-model="signup.Email" class="form-control" />
										</div>
								</div>
								<div class="form-section row">
										<div class="col-sm-6 form-group">
												<p class="label">Phone</p>
												<input type="text" ng-model="signup.Phone" class="form-control" />
										</div>
								</div>
								<div class="form-section row">
										<div class="col-sm-12 form-group">
												<p class="label">Address</p>
												<input type="text" ng-model="signup.Address" class="form-control" />
										</div>
								</div>
								<div class="form-section row">
										<div class="col-sm-6 form-group">
												<p class="label">City</p>
												<input type="text" ng-model="signup.City" class="form-control" />
										</div>
										<div class="col-sm-3 form-group">
												<p class="label">State</p>
												<input type="text" ng-model="signup.State" class="form-control" />
										</div>
										<div class="col-sm-3 form-group">
												<p class="label">Zip</p>
												<input type="text" ng-model="signup.Zip" class="form-control" />
										</div>
								</div>
						</div>
						<div class="modal-footer">
								<button ng-click="submitSignup()" data-dismiss="modal" class="btn btn-default ladda-button" data-style="slide-left" data-spinner-color="#642164"><span class="ladda-label">Save</span></button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
				</div>
		</div>
</div>